<div class="form-container">
    <h3>Registro de Usuario</h3>
    <form class="form" (ngSubmit)="onSubmit()">
        <div>
            <input type="text" id="nombre" [(ngModel)]="usuario.nombre" name="nombre" placeholder="Nombre">
        </div>
        <div>
            <input type="text" id="apellido" [(ngModel)]="usuario.apellido" name="apellido" placeholder="Apellido">
        </div>
        <div>
            <input type="email" id="email" [(ngModel)]="usuario.email" name="email" placeholder="Email">
        </div>
        <div>
            <input type="number" id="edad" [(ngModel)]="usuario.edad" name="edad" placeholder="Edad">
        </div>
        <div>
            <input type="text" id="password" [(ngModel)]="usuario.password" name="password" placeholder="Contraseña">
        </div>
        <button>Guardar</button>
    </form>
</div>