<div class="nav-container">
  <h1 class="title"><span class="letter-s">S</span>tock<span class="letter-t">T</span>racking</h1>
  <nav class="navbar">
    <!-- <a class="link-nav" routerLink="lista-usuarios" routerLinkActive="active">Lista de Usuarios</a> -->
    <!-- <a class="link" routerLink="registrar-usuario" routerLinkActive="active">Añadir Usuario</a> -->
    <a class="link" routerLink="lista-productos" routerLinkActive="active">Lista de Productos</a>
    <a class="link" routerLink="registrar-producto" routerLinkActive="active">Añadir Producto</a>
    <a class="link" routerLink="iniciar-sesion" routerLinkActive="active">Cerrar Sesion</a>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <p class="paragraph"> Creada por:</p>
  <a class="link" href="mailto:waldo456123@gmail.com">Waldo Cuevas</a>
  <a class="link" href="mailto:aledalzotto15@gmail.com">Alejandro Dalzotto</a>
</footer>