<header class="nav-container">
  <h1 class="title">StockTracking</h1>

  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fa-solid fa-bars"></i>
  </label>

  <nav class="navbar">
    <a class="link" routerLink="lista-productos" routerLinkActive="active">Lista de Productos</a>
    <a class="link" routerLink="registrar-producto" routerLinkActive="active">Añadir Producto</a>
    <a class="link" routerLink="iniciar-sesion" routerLinkActive="active">Cerrar Sesion</a>
    <a class="link" routerLink="perfil-usuario/{{idUsuarioLogeado}}" routerLinkActive="active">Perfil</a>
  </nav>
</header>

<section class="container">
  <router-outlet></router-outlet>
</section>

<footer>
  <p class="paragraph"> Creada por:</p>
  <a class="link" href="mailto:waldo456123@gmail.com">Waldo Cuevas</a>
  <a class="link" href="mailto:aledalzotto15@gmail.com">Alejandro Dalzotto</a>
</footer>