.title {
    font-family: 'Passions Conflict', cursive;
    margin: 0;
    padding: 12px 0px;
    color: var(--title-color);
    background: var(--main-color);
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    height: 35vh;
    position: relative;
    -webkit-box-shadow: 5px 26px 50px 18px #00000040;
    box-shadow: 5px 26px 50px 18px #00000040;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    padding: 8px 0px;
    color: var(--text-color);
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    background-color: var(--link-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: .2s all ease;
}

.link:hover {
    color: var(--link-color);
}

.link:hover::after {
    width: 100%;
}

.paragraph {
    margin: 0;
    padding: 8px 0px;
    color: #f0f8ff;
    font-size: 1.25em;
}

.container {
    background-color: var(--side-color);
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 0px;
    min-height: 50vh;
}

footer {
    background-color: var(--main-color);
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(min-width:850px) {
    .nav-container {
        flex-direction: row;
        justify-content: space-around;
        height: 15vh;
    }

    .navbar {
        flex-direction: row;
    }

    .link {
        margin: 0px 12px;
    }

    .container {
        min-height: 70vh;
    }

    footer {
        height: 15vh;
        flex-direction: row;
        justify-content: flex-start;
    }

    .paragraph {
        margin-left: 30px;
    }

    .title {
        letter-spacing: 4px;
        transition: .1s all ease-in-out;
    }

    .title:hover {
        text-shadow: 2px 2px 0px #000000, 5px 4px 0px #000000;
    }
}